.sass-cache/
*.css.map
*.sass.map
*.scss.map
*.scss
*.pptx
/firstLesson/**
/secondLesson/**
/thirdLesson/**
/fourthLesson/**
/fifthLesson/**
/sixthLesson/**
/seventhLesson/**
*/plan/**
*/fromYadisc/**